body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
  }
  
  .timer {
    display: flex;
    flex-direction: column; /* Organiza os itens verticalmente */
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    background: #ffffff;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilo da descrição */
  #description {
    font-size: 2em;
    text-align: center;
    border: none;
    outline: none;
    margin-bottom: 20px;
    background-color: transparent; /* Remove o fundo do campo */
    color: #606c76; /* Cor do texto */
  }
  
  h1 {
    font-size: 6em;
    color: #333333;
    margin: 0;
  }
  